* {
    margin:0;
}

body {
    background-color: #121212;
    color: white;
}

.main {
    margin:10px;
    margin-left:auto;
    margin-right:auto;
}

.icon {
    width: 30px;
    height: auto;
}

.logo {
    width: 90px;
    height: auto;
}

h1 {
    color: #3e50b4;
}
h2 {
   color: #cea5fb;
}

