
body {
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url('../Images/pexels-felix-mittermeier-956981.jpg');
    background-size: cover;    
    background-attachment: fixed;
    height:100vh;
  }


#portrait {
    width:100%; 
    margin:0;
}

 .text {
    color:white;
 }

 .row-section{
     margin-bottom: 10px;
 }

 #about .col {
    background-color: rgba(80, 5, 74, 0.5);
    color: white;
    font-size:large;
    border-radius:5px;
 }
 #work .col {
    background-color: rgba(80, 5, 74, 0.5);
    color: white;
    font-size:large;
 }
 #contact .col {
    background-color: rgba(80, 5, 74, 0.5);
    color: white;
    font-size:large;
 }

.icon {
    width: 30px;
    height: auto;
}

.card-text {
    color: gray;
}
.card-title {
    color:black;
}

.card-col {
    margin-bottom: 10px;
}